NODE_ENV=
PORT=

THROTTLE_TTL_MS=
THROTTLE_LIMIT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNCHRONIZE=

SMTP_USER=
SMTP_PASS=
SMTP_FROM=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_SAMESITE_NONE=
BETTER_AUTH_TRUSTED_ORIGINS=
CLIENT_URL=
NEXT_PUBLIC_APP_URL=

ELASTICSEARCH_NODE=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_BUCKET_NAME=

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=
PAYOS_CANCEL_URL=

LANDING_PAGE_URL=
ADMIN_PANEL_URL=

DB_POOL_MAX=
DB_POOL_MIN=
DB_POOL_CONNECTION_TIMEOUT_MS=
DB_POOL_IDLE_TIMEOUT_MS=
